# IDEs and OS files
.idea/
.vscode/
*.iml
.DS_Store
*.log

# Backend (Spring Boot)
backend/backend/target/
backend/backend/.mvn/
backend/backend/mvnw
backend/backend/mvnw.cmd

# Flutter
flutter_e_commerce/.dart_tool/
flutter_e_commerce/.flutter-plugins-dependencies
flutter_e_commerce/.pub-cache/
flutter_e_commerce/.pub/
flutter_e_commerce/build/
flutter_e_commerce/flutter_01.log

# Secrets & Sensitive info
**/application-dev.properties
**/application-prod.properties
**/firebase-service-account.json
.env

# Don't ignore application.properties but advise on environment variables for secrets
# backend/backend/src/main/resources/application.properties
